

.sidebar {
    height: 100vh;
    background-color: aliceblue;
    border-right: 2px solid red;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.scrollBarAddQuiz {
    max-height: 85vh;
    overflow-y: scroll;
    width: 100%;
}

.btn_add_quiz {
    cursor: pointer;
}

.btn-save {
    float: right;
    margin-right: 100px;
}

.create-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.txtQuestion {
    width: 80%;
    text-decoration: none;
    outline: none;
    margin: 2%;
    font-size: 30px;
    padding: 10px;
    height: 150px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}

.img-option {
    position: relative;
    width: 80%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.option-mode {
    position: absolute;
    width: 40%;
    height: 200px;
    margin-left: -40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option-mode select {
    width: 100px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}


.img-quiz {
    position: relative;
    height: 200px;
    background-color: antiquewhite;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img-quiz input {
    display: none;
}

.img-quiz label {
    z-index: 2;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    font-size: 20px;
}

.img-quiz img {
    z-index: 1;
    width: 100%;
    position: absolute;
    height: 200px;
    object-fit: fill;

}

.text-Answers {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.box-answer {
    background-color: #d3dae6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.text-Answer {
    font-weight: bold;
    padding: 10px;
    height: 50px;
    font-size: 20px;
    background-color: #d3dae6;
    text-decoration: none;
    outline: none;
    text-align: center;
    width: 90%;
    border-radius: 20px;
    border: none;
}

.checkBox {
    width: 30px;
    height: 30px;

}