.boxQuiz {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Quiz {
    width: 180px;
    height: 150px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: #ced1d6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 50px;
    border-radius: 20px;
}

.QuizClick {
    width: 180px;
    height: 150px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: #ced1d6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 50px;
    border-radius: 20px;
    border: 2px solid #143d82;
}

.btnRemove {
    position: absolute;
    left: 0;
    margin-left: 20px;
    box-sizing: border-box;
}

.btnRemove:hover {
    cursor: pointer;
    background-color: rgb(14, 14, 13);
}