html,
body {
    height: 100%;
}

.wrapper {
    height: 100vh;
    margin: 0 auto;
    background: #cabf28;
    text-align: center;
}

.question {
    margin-top: 5%;
    text-align: center;
    height: 10%;
    width: 100%;
}

.img {
    background: #dfded4;
    margin-top: 5%;
    margin: 5% auto;
    height: 40vh;
    width: 80%;
}

.answer {
    width: 80%;
    margin: 10px auto
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color: #8064A2;
    border-color: #8064A2;
}

.enterpin {
    width: 30%;
    margin: 30vh auto;
}

