.prepareplaygame {
    background: #cabf28;
    height: 100vh;
    width: 100%;
}

.pin {
    height: 20vh;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}

.startgame {
    height: 10vh;
    text-align: center;
}

.boxmembers {
    height: 65vh;
    width: 90%;
    margin: 0 auto;
}

.member {
    margin: 10px;
}

.members {
    margin: 10px;
    text-align: center;
}

.playgame {
    
}

.questiongame {
    background: #f0ec08;
    height: 100vh;
}

.statistic {
    height: 100vh;

}

.nextquestion {
    margin: 20px;
}

.my-custom-scrollbar {
    position: relative;
    height: 60vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}