html,
body {
    height: 100%;
}

.wrapper {
    height: 100vh;
    display: flex;
    background: #cabf28;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    margin-top: 5%;
    text-align: center;
    height: 10%;
    width: 100%;
}

.img {
    background: #dfded4;
    margin-top: 5%;
    margin: 5% auto;
    height: 40vh;
    width: 80%;
}

.answer {
    margin: 20px ;
}

.answers {
    width: 100%;
    flex-wrap: wrap;
    justify-content:space-between

}