html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    display: flex;
    background: #cabf28;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.question {
    width: 90%;
}

.questionLabel {
    margin-top: 3%;
    text-align: center;
    padding: 10px;
    background-color: red;
    border-radius: 20px;
    color: white;
    margin: 10px auto;
}


.img {
    background: #dfded4;
    margin-top: 5%;
    margin: 3% auto;
    height: 40vh;
    width: 80%;
}

.btnAnswer {
    margin: 10px;
    background-color: #11361a;
    border-radius: 20px;
    border: 2px solid #e2e48e;
    color: white;
    font-size: 20px;
}

.btnAnswer:hover {
    background-color: #0f6322;
}


.answers {
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    color: white;
}